* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

main {
  min-height: 90vh;
  background-color: lightgray;
  padding: 50px 0 100px;
}

.form {
  background-color: white;
  padding: 30px 50px;
  border-radius: 8px;
  margin: auto 0;
  position: relative;

  &__header {
    p {
      text-align: center;
      font-weight: bold;
      font-size: large;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & * {
    margin-bottom: 10px;
  }

  & input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 4px;
    outline: 1px solid teal;

    &:focus {
      outline-width: 2px;
    }

    &[type="Button"]:hover {
      background-color: blue;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;

    & .link {
      text-decoration: underline;
      color: blue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.error {
  background-color: lightpink;
  padding: 4px;
  border-radius: 4px;
}

.card {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 8px;

  &__img {
    width: 40%;

    & img {
      max-height: 150px;
      max-width: 100%;
      object-fit: cover;

    }
  }

  &__info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & p {
      word-wrap: break-word;
    }
  }
}

.product-list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {

    text-align: end;

    & li {
      display: flex;
      justify-content: space-between;

      & span:last-child {
        margin-left: 10px;
      }

      & i:hover {
        cursor: pointer;
        color: red;
      }
    }
  }
}

.cancel-btn {
  color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
}

.admin-panel {
  display: flex;
  padding: 30px;

  aside {
    width: 15%;
    border-right: 1px solid teal;

    p {
      padding: 10px;
      border: 1px solid teal;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      cursor: pointer;
      margin-bottom: 4px;
      position: relative;
      left: 1px;

      &.active {
        background-color: teal;
      }
    }
  }

  section {
    padding-left: 20px;
    width: 85%;

    table {
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: 5fr 12% 12% 12% 12%;

        td,
        th {
          word-wrap: break-word;
          padding: 10px;
          border: 1px solid teal;

          &:not(:first-child) {
            text-align: center;
          }
        }
      }

      ol {
        list-style-position: inside;
      }
    }



    & i {
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }

      &.finished {
        color: green;

        &:hover {
          color: red;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }

      &.inprocess {
        color: red;

        &:hover {
          color: green;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}


.login-container {
  display: flex;
  justify-content: center;
}
