* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  min-height: 90vh;
  background-color: lightgray;
  padding: 50px 0 100px;
}

.form {
  background-color: white;
  padding: 30px 50px;
  border-radius: 8px;
  margin: auto 0;
  position: relative;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__header {
  margin-bottom: 10px;
}

.form__header p {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
}

.form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  outline: 1px solid teal;
}

.form input:focus {
  outline-width: 2px;
}

.form input[type="Button"]:hover {
  background-color: blue;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
}

.form__footer .link {
  text-decoration: underline;
  color: blue;
  margin-left: auto;
}

.form__footer .link:hover {
  cursor: pointer;
}

.error__container {
  margin-bottom: 10px;
  width: 100%;
  background-color: lightpink;
  padding: 8px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
}

.error__container p {
  word-wrap: break-word;
}

.error__container i {
  color: red;
  cursor: pointer;
}

.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 8px;
}

.card__img {
  width: 40%;
}

.card__img img {
  max-height: 150px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__info {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card__info p {
  word-wrap: break-word;
}

.product-list {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__list {
  text-align: end;
}

.modal__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__list li span:last-child {
  margin-left: 10px;
}

.modal__list li i:hover {
  cursor: pointer;
  color: red;
}

.cancel-btn {
  color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: teal;
}

.admin-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.admin-panel aside {
  width: 15%;
  border-right: 1px solid teal;
}

.admin-panel aside p {
  padding: 10px;
  border: 1px solid teal;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  margin-bottom: 4px;
  position: relative;
  left: 1px;
}

.admin-panel aside p.active {
  background-color: teal;
}

.admin-panel section {
  padding-left: 20px;
  width: 85%;
}

.admin-panel section table {
  width: 100%;
}

.admin-panel section table tr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 12% 12% 12% 12%;
      grid-template-columns: 5fr 12% 12% 12% 12%;
}

.admin-panel section table tr td,
.admin-panel section table tr th {
  word-wrap: break-word;
  padding: 10px;
  border: 1px solid teal;
}

.admin-panel section table tr td:not(:first-child),
.admin-panel section table tr th:not(:first-child) {
  text-align: center;
}

.admin-panel section table ol {
  list-style-position: inside;
}

.admin-panel section i {
  border-radius: 50%;
}

.admin-panel section i:hover {
  cursor: pointer;
}

.admin-panel section i.finished {
  color: green;
}

.admin-panel section i.finished:hover {
  color: red;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.admin-panel section i.inprocess {
  color: red;
}

.admin-panel section i.inprocess:hover {
  color: green;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */